@inherits LayoutComponentBase
@attribute [Authorize]

@inject IAccountManagement AccountManagement
@inject NavigationManager Navigation


<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <div><button class="btn btn-danger" @onclick="Logout">Logout</button></div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private string userName = "Flighters";

    private async Task Logout()
    {
        await AccountManagement.LogoutAsync();
        StateHasChanged();
        Navigation.NavigateTo("/login", forceLoad: true);
    }
    

}
